nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
    margin-top: 30px;
}

.nav-width{
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;

}

/* navbar-logo */

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* navbar-menu */
ul.navbar-list {
    display: flex;
    list-style: none;
    gap: 4em;
    justify-content: center;
    align-items: center;
}


/* navbar-icon */

.navbar-icons {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2em;
}

.c-profileImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.c-cartImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* submenu-1 */

ul.sub-menu-1 {
    position: absolute;
    list-style: none;
}

ul.sub-menu-2 {
    position: absolute;
    list-style: none;
}

/* remove link line */

a.Nav-links {
    text-decoration: none;
}

